@tailwind base;
@tailwind components;
@tailwind utilities;





* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

    
}

*:focus, *:focus-visible{
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(100 116 139) 
}




body, input, html {
    color: #fff;
}



@media screen and (max-width: 720px) {
    html {
        font-size: 90%
    }
}



