@tailwind base;
@tailwind components;
@tailwind utilities;





* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body, input, html {
    color: #fff
}


